.camera-preview{

    position:relative;

    width:100%;

    height:100%;

    background:
        linear-gradient(
            180deg,
            #173B31,
            #102A22
        );

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;
}

.camera-preview__placeholder{

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:18px;

    color:white;

    opacity:.9;
}

.camera-preview__placeholder h2{

    font-size:28px;

    margin:0;
}

.camera-preview__placeholder p{

    color:rgba(255,255,255,.75);
}

.camera-preview video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}