.camera-preview {
    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;

    background: #0F172A;

    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-preview video {

    width: 100%;
    height: 100%;

    object-fit: cover;
}